.m5{
    margin-bottom: 10px;
}
.title {
    font-family: Arvo, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;
}
ng-template a {
    margin-right: 25px;
}
.aligncenter{
    text-align: center;
}
.marginbottom1{
    margin-bottom: 1%;
}
.addlist{
    border: 1px solid;
    border-radius: 1em;
    background-color: lightgray;
}
.cardborder{
    border: 1px solid;
    border-radius: 6px;
}
.margin_card{margin: 0% 3%;}